
let today = new Date().toISOString().split("T")[0];

let shifts = ["m1","m2","e1","e2","n1","n2","off","g"];

let data = JSON.parse(localStorage.getItem("shift8")) || {};

if(!data[today]){
  data[today]={};
  shifts.forEach(s=>data[today][s]=[]);
}

function save(){
  localStorage.setItem("shift8",JSON.stringify(data));
}

/* ADD */
function add(shift){
  data[today][shift].push({
    text:"Task",
    hours:1,
    done:false
  });

  save();
  render();
}

/* TOGGLE */
function toggle(shift,i){
  data[today][shift][i].done =
    !data[today][shift][i].done;

  save();
  render();
}

/* DELETE */
function del(shift,i){
  data[today][shift].splice(i,1);
  save();
  render();
}

/* RENDER */
function render(){

  shifts.forEach(s=>{
    let box=document.getElementById(s);
    box.innerHTML="";

    data[today][s].forEach((t,i)=>{
      box.innerHTML+=`
        <div class="task">

          <input type="checkbox"
          ${t.done?"checked":""}
          onclick="toggle('${s}',${i})">

          <input value="${t.text}"
          onchange="t.text=this.value">

          <input type="number" style="width:60px"
          value="${t.hours}"
          onchange="t.hours=this.value">

          <button onclick="del('${s}',${i})">❌</button>

        </div>
      `;
    });
  });

  updateChart();
}

/* GRAPH */
let chart;

function updateChart(){

  let values = shifts.map(s=>{
    return data[today][s]
      .filter(t=>t.done)
      .reduce((a,b)=>a+b.hours,0);
  });

  if(chart) chart.destroy();

  chart = new Chart(document.getElementById("chart"),{
    type:"bar",
    data:{
      labels:["M1","M2","E1","E2","N1","N2","OFF","GENERAL"],
      datasets:[{
        label:"Study Hours",
        data:values,
        backgroundColor:[
          "#22c55e",
          "#86efac",
          "#f59e0b",
          "#ef4444",
          "#3b82f6",
          "#a855f7",
          "#64748b",
          "#14b8a6"
        ]
      }]
    }
  });
}

render();
